body {
  background-color: #666c70;
}
.shy-head {
  height: 5rem;
  color: white;
}
.shy-body {
  background-color: white;
  box-shadow: 0 0 0.5rem #999;
  height: 45rem;
}
.shy-body-login {
  height: 30rem;
}
.shy-body-content {
  height: 50rem;
}